@page "/shoppinglist"
@inject IJSRuntime Js
@inject ShoppingListService Service

@attribute [Authorize]

<PageLayout Title="ShoppingList">
    <Toolbar>
        <a class="btn btn-outline-primary" href="shoppinglist/new">
            <i class="fa-solid fa-plus"></i>
        </a>
    </Toolbar>
    <Content>
        @if (!model.Items.Any())
        {
            <h4>Nessuna lista della spesa</h4>
        }
        else
        {
            <div class="row">
                @foreach (var item in model.Items)
                {
                    <div class="col-md-4 mb-2">
                        <ListItem Title="@item.Title">
                            <Actions>
                                <div class="btn-group">
                                    <a href="shoppinglist/@item.Id" class="btn btn-m btn-outline-primary">View</a>
                                    <button type="button" @onclick="@(() => DeleteShoppingList(item))" class="btn btn-m btn-danger">Delete</button>
                                </div>
                            </Actions>
                            <ChildContent>
                                <dl>
                                    <dt># of items</dt>
                                    <dd>@item.NumberOfItems</dd>
                                </dl>
                            </ChildContent>
                        </ListItem>
                    </div>
                }
            </div>
        }
    </Content>
</PageLayout>

<Confirm ModalId="@deleteShoppingListModalId"
         Title="Eliminazione spesa"
         Content="@($"Stai per cancellare la spesa {selectedItem?.Title}. Sei sicuro?")"
         OnConfirm="DeleteShoppingListConfirmed" />

@code {
    private ShoppingListItemsModel model = new();

    private string deleteShoppingListModalId = "deleteShoppingList";

    private ShoppingListItemsModel.ItemDescriptor? selectedItem = null;

    async Task DeleteShoppingList(ShoppingListItemsModel.ItemDescriptor shoppingList)
    {
        this.selectedItem = shoppingList;
        await Js.InvokeVoidAsync("showModal", deleteShoppingListModalId);
    }

    private async Task DeleteShoppingListConfirmed()
    {
        try
        {
            await Service.DeleteShoppingListAsync(this.selectedItem!);
            await Js.InvokeVoidAsync("alert", "Elemento cancellato con successo!");

            model = await Service.GetShoppingListItemsAsync();
        }
        catch (Exception ex)
        {
            await Js.InvokeVoidAsync("alert", $"Si è verificato un errore durante la cancellazione. {ex.Message}");
        }
        finally
        {
            await Js.InvokeVoidAsync("hideModal", deleteShoppingListModalId);
            this.selectedItem = null;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        model = await Service.GetShoppingListItemsAsync();
    }
}
